@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'Wondar Quason';
    src: url('../font/wondar_quason/Wondar\ Quason\ Free.ttf') format('truetype');
  }
  :root {
    --Button: #785C43;
    --button-hover:#4e3c2c;
    --primary-color: #785C43;
    }
header i{
    border: #785C43 1px solid;
    background-color: transparent;
    font-size: 30px;
}
* {
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: poppins;
}
footer{
    position: relative;
}
.copyright{
    background-color: black;
    height: 50px;
    color: white;
    font-family: "poppins";
    text-align: center;
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: center;
}
.copyright p{
    text-align: center;
    
}
body {
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow-x: hidden;
}

.container {
    
    padding: 0px 2%;
    background-image: url(../img/2021-11-21.jpg);
    background-size: cover;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 16vw;
    margin-top: 10px;
}

header button {
    margin-left: 40px;
    margin-right: 20px;
}

button:not(.content button, footer button) {
    width: 14vw;
    aspect-ratio: 4/1; /* Height is half of the width */
    font-size: 1vw;
    background-color: var(--Button);
    border: 1px solid var(--Button); /* Fixed the border declaration */
    color: black;
    font-family: "poppins";
    font-weight: 500;
    border-radius: 2.5px;
    letter-spacing: 2px;
}
body button:hover:not(.content button) {
    border: 1px solid var(--button-hover); /* Fixed the border declaration */
    background-color: var(--button-hover);
    transition: 0.3s;
}

header ul {
    display: flex;
    list-style: none;
    padding: 0;
}

header a {
    text-decoration: none;
    color: white;
    font-family: "poppins";
    text-transform: uppercase;
    font-size: 0.9vw;
    margin-left: 45px;
    position: relative;
    font-weight: 600;
}

header ul li:nth-child(1) a {
    margin-left: 10px;
}

header a::after {
    content: "";
}
.Go_up {
    position:fixed;
    bottom: 0;
    right: 0;
}
header a:hover {
    color: var(--primary-color);
    transition: 0.2s;
}

header a:hover::after {
    position: absolute;
    background-color: var(--primary-color);
    bottom: 0;
    left: 0;
    color: white;
    width: 100%;
    height: 1px;
    top: 25px;
    border-radius: 100px;
    transition: 0.4s;
}
.fixed_link i{
    padding: 10px;
    border: 1px solid #785C43;
    font-size: 1.5vw;
}
.fixed_link i:hover{
background-color: #785C43;
color:black;
transition: 0.2s ease-in-out;

}
header li {
    color: white;
}

.container {
    width: 100%;
    
}

.main img {
    width: 12vw;
    height: auto;
}

.main p {
    font-size: 1.2vw;
    margin: 20px;
}

.main {
    color: white;
    text-align: center;
    margin-top: 50px;
}

.main h2 {
    margin: 0px;
    font-size: 0.7vw;
    letter-spacing: 7.5px;
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: 400;
    font-family: "poppins";
}

.p {
    color: var(--primary-color);
}

.main h3 {
    font-size: 3.7vw;
    font-family: "wondar quason";
    letter-spacing: 1px;
    font-weight: 500;
    margin-bottom: 20px;
}

.main button {
    margin-top: 10px;
}

.main {
    padding-bottom: 10%;
}
h4{
    text-transform: uppercase;
}
#about_us {
    position: relative;
    width: 100%;
    aspect-ratio: 2/1;
    overflow: hidden;
    background-color: black;
    z-index: -2;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#background_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#background_image img:first-child {
    position: absolute;
    left: 0;
    height: 100%;
}

#background_image img:last-child {
    position: absolute;
    right: 0;
    height: 100%;
}

#about_text h4 {
    margin: 0;
    font-size: 1.5vw;
    font-family: "wondar Quason";
    letter-spacing: 2px;
    color: var(--primary-color);
}

#about_text img {
    width: 15vw;
    height: auto;
}


#about_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about_main_text {
    width: 75%;
    text-align: center;
    font-size: 2.1vw;
    font-family: "poppins";
    font-weight: 200;
}
.menu h4 {
    margin: 0;
    font-size: 1.5vw;
    font-family: "wondar Quason";
    letter-spacing: 2px;
    color: var(--primary-color);
}
.content > div:hover{
    border: #bda48f 1px dashed;
    border-radius: 5px;

}
.menu{
    position: relative;
}
.menu > img{
    opacity: 0.3;
    position: absolute;
}
.menu > img:nth-child(1){
    top: 0;
    right: 0;
    width: 20vw;
}
.menu > img:nth-child(2){
    bottom: 0;
    left: 0;
    width: 20vw;
}
.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    background-color: #111112;
    padding: 50px;
}
.menu img {
    width: 13vw;
    height: auto;
    border-radius: 5px;
}
.menu .content {
   
    color: #c0afa1;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.content div{
    padding-bottom: 4px;
}
.content div p{
    padding: 7px 5%;
    margin: 0;
    border-radius: 5px;
}

.menu .content  > div:not(.price){
    width: 20%;
    background-color:#232225;
    margin: 10px;
    height: 400px;
    color: #c0afa1;
    
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    position: relative;
}
.content button{
    background-color: transparent;
    border: none;
    color: white;
    text-transform: uppercase;
    border: 1px solid #c0afa1;
    color: #c0afa1;
    font-size: 0.8vw;
    height: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    
}

.content button:hover{
    background-color: #c0afa1;
    color: #111112;
    transition: 0.3s;
}

.content img{
    width: 100%;
    margin-bottom: 5px;
}

.title_menu{
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 1.3vw;
}

.description {
    font-size: 0.6vw;
    letter-spacing: 1px;
    font-family: poppins;
}

#haja{
    padding: 50px 10.5% 125px!important;
}

.img_about{
    position: relative;
}
.img_about img:nth-child(1){
    position: absolute;
    width: 17vw;
    height: auto;
    opacity: 0.8;
}
.about2{
    position: relative;
    background-color: black;
    display: flex;
    
    color:white;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    overflow: hidden;

}
.about2:not(#haja){
    padding: 2.5% 10.5%;
}
.about2 > div{
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.about2 div div{
    display: flex;
    padding: 0px 10px;
    align-items: center;
    justify-content:space-between;
    color: #785C43;
    width: 100%;
}
.about2 div div div{
    width: 30%;
    height: 1px;
    margin: 10px;
    padding: 0;
    background-color: #785C43 !important;
}
.about2 div div p{
    font-size: 1.5vw !important;
}
.about2 div > p {
    font-size: 0.9vw;
}
.about2 > img:first-child{
    position: absolute;
    right: -3.5%;
    opacity: 0.5;
    width: 400px;
    height: auto;
    z-index: 2;
}
.about2 > img:nth-child(2){
    position: absolute;
    left: -3.5%;
    bottom: -150px;
    opacity: 0.5;
    width: 300px;
    height: auto;
    z-index: 2;
}
.about2 img:not(.img_about img){
    width: auto;
    height: 500px;
    padding: 50px 0px;
    border-radius: 5px;
    z-index: 5;
}
.gallery1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    background-color: black;
}
.gallery1 img{
    width: 50%;
}
.prix{
    font-family: poppins;
    
    width: 100px;
    font-weight: 600;
}
.menu_head{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 4%;
    width: 100%;
    font-family: poppins;
    color: #785C43;
    font-size: 1.8vw;
}
.menu_head p{
    padding: 0px 30px;
}
.menu_head div{
    
    width: 30%;
    height: 1px;
    margin: 0;
    padding: 0;
    background-color: #785C43 !important;
    
}
.description_menu{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}
.description_menu div:first-child p:last-child{
    color: gray;
}
.price{
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0px 4%;
    width: 100%;
    font-family: poppins;
}
.price div {
    padding: 0;
}
.price div p{
    padding: 0px;
}
footer {
    background-color: #181719;
}
.location {
    background-color: black;
    position: relative;
    z-index: -2;
    height: 300px;
    border: #232225 solid 3px; 
}
#img_about{
    width: 20vw;
    height: auto;
    border:  1px solid;
    padding: 0px;
    margin: 100px;
    border-radius: 0px;
}
iframe{
    width: 100%;
    height: 100%;
    opacity: 0.43;
}
.location img{
    position: absolute;
}
.location img:nth-child(1){
    bottom: 0;
    right: 0;
    width: 10vw;
    opacity: 0.5;
    z-index: -1;
}

.location img:nth-child(2){
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10vw;
    opacity: 0.5;
    z-index: -1;
}
.location img:nth-child(3){
    position: absolute;
    right: 0;
    left: 0;
    width: 10vw;
    opacity: 0.5;
    z-index: -1;
}
.location_header {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 0px 4%;
    width: 100%;
    font-family: poppins;
    color: #785C43;
    font-size: 1.8vw;
}
.location_header div{
    background-color: #785C43;
    width: 30%;
    height: 1px;
}
.location p{
    padding: 0px 30px;
}
.snsla {
    width: 250px;
    height: auto;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
}

#footer_text img {
    width: 300px;
}

#footer_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    padding-top: 100px;
}

#footer_text h4 {
    margin: -5px;
    font-family: "wondar quason";
    letter-spacing: 2px;
    font-size: 20px;
}



.img1 {
    position: absolute;
    left: -7px;
    bottom: -5px;
    width: 102.5%;
    aspect-ratio: 1.92/1;
    pointer-events: none;
}

.fundus_container p {
    color: var(--primary-color);
    font-family: "wondar Quason";
    font-size: 2vw;
    font-weight: 100;
}





.img2 {
    position: absolute;
    left: -7px;
    bottom: -3px;
    aspect-ratio: 1.96/1;
    width: 103%;
    pointer-events: none;
}



.snsla2 {
    width: 250px;
}

i:not(a i) {
    background-color: var(--primary-color);
    padding: 5px;
    border-radius: 50px;
    color: black;
    margin-right: 10px;
}



.contact div {
    display: flex;
    align-items: center;
    font-family: "poppins";
}



.footer2 {
    background-color: black;
    height: 50px;
    color: white;
    font-family: "poppins";
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto -50px;
}

.img {
    position: relative;
}

.fixed_link {
    color: var(--primary-color);
    font-family: "poppins";
    padding: 2.5px;
    border-radius: 100px;
    position: fixed;
    right: 0;
    z-index: 100;
    bottom: -10px;
    font-size: 12px;
    margin: 20px;
    text-transform: uppercase;
}





html {
    scroll-behavior: smooth;
}

menu {
    position: absolute;
    background-color: var(--primary-color); /* I'm assuming you want to use the primary color here */
}
.gallery{
    background-color: black !important;
    padding: 50px;
}
.gallery *{
    margin: 0;
    padding: 0;
}
.gallery div:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #785C43;
    font-size: 1.8vw;
    margin-bottom: 25px;
}
.gallery div:first-child div {
    background-color: white;
    width: 30%;
    height: 1px;
    margin: 50px 20px;
    background-color: #785C43;
    
}
.gallery div:last-child{
    display: flex;
    justify-content: center;
}
.gallery div:last-child div
{
    overflow: hidden;
    width: 25vw;
    aspect-ratio: 1/1;
}
.gallery div:last-child img
{
    
    width: 25vw;
    height: 200px;
}
.menu_footer{
    
    justify-content: center;
    align-items: center;
}
.menu_footer div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #181719;
    border: white 1px solid;
    position: absolute;
    padding: 20px;
    border-radius: 10px;
    width:65vw;
    color: white;
}
.menu_footer div:nth-child(2) p {
    font-size: 0.7vw;
}
.hr{
    background-color:white ;
    height: x;
    width: 100%;
}
footer{
    display: flex;
    justify-content: space-between;
    padding: 5% 10.5%;
    align-items: center;
}
footer *{
    padding: 0;
    margin: 0;
}
.footer_right{
    display: flex;
    flex-direction: column;
    width: 25%;
    color: white;
    
}
.footer_right p{
    margin-top: 20px;
    font-size: 0.8vw;
    color: rgb(175, 175, 175);
}
.footer_right img{
    width: 10vw;
}
.contact_container {
    padding: 0;
    width: 35%;
    
}
footer button{
    background-color: transparent;
    border: none;
    width: 
    fit-content;
    height: fit-content;
}
.footer_right{
    color: white;
}
.footer_right i{
    background-color: transparent;
    font-size: 1.8vw;
    color: #785C43;
    margin: 5px;
    color: white;
}
.footer_right i:hover{
    background-color: transparent;
 
}
.footer_right button{
    background-color: transparent;
    border: white 1px solid;
    color: white;
    
    margin: 30px 2.5px;
    padding: 0;
    border-radius: 100px;
}
.footer_right button:hover{
    background-color: transparent;
    border: gray 1px solid;
    color: white;
    
    margin: 30px 2.5px;
    padding: 0;
    border-radius: 100px;
}
.footer_seconde ul , .footer_third ul
{
    list-style: none;
}
.footer_seconde li a ,.footer_third li a{
    text-decoration: none;
    color: rgb(175, 175, 175);
    font-weight: 300;
}
.footer_seconde li:first-child h6,.footer_third li:first-child h6{
    margin-bottom: 30px;
    font-size: 1.3vw;
    color: white;
    
}
.footer_links{
    margin: 15px 0px;
}
.footer_links a:hover{
    color: #785C43;
    transition: 0.3s;
}
.contact_container {
    height: 187px;
    
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    color: white;
    
}
.contact div i {
    font-size: 1.5vw;
    margin-right: 15px;
    color: rgb(175, 175, 175);
}
.contact div p{
    font-size: 0.8vw;
    color: rgb(175, 175, 175);
}
.contact i{
    background-color: transparent;
    color: white !important;
    border: 1px solid white !important;
}